<!--suppress TypeScriptUnresolvedFunction -->
<div class="container vh-100">
  <img
    class="cover min-width-0 flex-2"
    src="../../../assets/images/sign-in-background.jpg"
    alt=""/>
  <div class="sign-in-content center flex-column flex-1">
    <section class="w-100 flex justify-between align-ends">
      <h2>
        ავტორიზაცია
      </h2>
    </section>

    <div class="mb-42"></div>

    <form [formGroup]="form" (ngSubmit)="onFormSubmit()" class="w-100">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTemplate">
          <nz-input-group nzPrefixIcon="mail">
            <input type="text" nz-input placeholder="მეილი" formControlName="email"/>
          </nz-input-group>
          <ng-template #emailErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('required')">მითითება სავალდებულოა</ng-container>
            <ng-container *ngIf="control.hasError('email')">მეილის ფორმატი არასწორია</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">მეილი გრძელია</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="mt-8">
        <nz-form-control [nzErrorTip]="passwordErrorTemplate">
          <nz-input-group [nzSuffix]="passwordSuffix" nzPrefixIcon="lock">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              formControlName="password"
              placeholder="პაროლი"/>
          </nz-input-group>
          <ng-template #passwordErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('required')">მითითება სავალდებულოა</ng-container>
            <ng-container *ngIf="control.hasError('minlength')">პაროლი მოკლეა</ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">პაროლი გრძელია</ng-container>
          </ng-template>
        </nz-form-control>
        <ng-template #passwordSuffix>
          <i
            class="pointer"
            nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
            (click)="passwordVisible = !passwordVisible">
          </i>
        </ng-template>
      </nz-form-item>

      <nz-form-item class="mt-32">
        <nz-form-control>
          <button nz-button nzType="primary" class="w-100" type="submit">
            შესვლა
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
