@import "variables";

.bg-secondary-sufrace {
  background-color: $color-secondary-surface;
}

.bg-secondary {
  background-color: $color-secondary;
}

.color-error {
  color: $color-error;
}

.element-secondary {
  color: $color-secondary-element;
}

.btn-bg-secondary {
  background-color: $color-secondary;
  border-color: $color-secondary;
  color: black;
}
