@import "variables";

.bg-secondary-container {
  background-color: $color-primary-container;
}

.bg-primary {
  background-color: $color-primary;
}

.color-primary {
  color: $color-primary;
}

.color-error {
  color: $color-error;
}

.element-secondary {
  color: $color-secondary-element;
}

.btn-bg-secondary {
  background-color: $color-secondary;
  border-color: $color-secondary;
  color: black;
}
