.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.align-end {
  align-items: end;
}

.align-start {
  align-items: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@for $i from 0 through 50 {
  .flex-#{$i} {
    flex: $i;
  }
}

