$color-secondary-element: #9F9fb7ff;
$color-primary: #111f48ff;
$color-primary-container: #1e305cff;
$color-secondary-container: #2D416eff;
$color-secondary-element-on-primary: #a0a5abff;
$color-secondary: #675Affff;
$color-secondary-light: #8B81ffff;
$color-success: #00c851ff;
$color-error: #ff4444ff;
